<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>SSOFilter</filter-name>
        <filter-class>spotcheck.model.client.SSOFilter</filter-class>
        <init-param>
            <param-name>ServerLocation</param-name>
            <param-value>local</param-value>
        </init-param>
        <init-param>
            <param-name>PolicyEnable</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>SSOServerURL</param-name>
            <param-value>http://puma.prc.sun.com:8080/SSOServer</param-value>
        </init-param>
        <init-param>
            <param-name>NotEnforceListLength</param-name>
            <param-value>5</param-value>
        </init-param>
        <init-param>
            <param-name>URL0</param-name>
            <param-value>*.jpg</param-value>
        </init-param>
        <init-param>
            <param-name>URL1</param-name>
            <param-value>/img/*</param-value>
        </init-param>
        <init-param>
            <param-name>URL2</param-name>
            <param-value>login.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>cookiename</param-name>
            <param-value>MySSOCookie</param-value>
        </init-param>
        <init-param>
            <param-name>cachesize</param-name>
            <param-value>5000</param-value>
        </init-param>
        <init-param><param-name>URL3</param-name><param-value>error.jsp</param-value></init-param>
        <init-param>
            <param-name>URL4</param-name>
            <param-value>SSOServlet</param-value>
        </init-param>
        <init-param><param-name>loginpage</param-name><param-value>login.jsp</param-value></init-param>
        <init-param>
            <param-name>loginfailedpage</param-name>
            <param-value>error.jsp</param-value>
        </init-param>
        </filter>
    <filter-mapping>
        <filter-name>SSOFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SSOServlet</servlet-name>
        <servlet-class>spotcheck.model.SSOServer.SSOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createOrg</servlet-name>
        <servlet-class>test.createOrg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SSOServlet</servlet-name>
        <url-pattern>/SSOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createOrg</servlet-name>
        <url-pattern>/createOrg</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
